[[source]]

url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"


[packages]

typing = "*"
typing-extensions = "*"
PyYAML = "*"
click = "*"
filelock = "*"


[dev-packages]

pylint = "*"
pytest = "*"
mypy = "*"
twine = "*"
wheel = "*"
